<nav-bar></nav-bar>
<div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <h2>CMV2.0 is an open source audit and configuration management utility to help automate system configuration across large IT infrastructures. </h2>
      </div>
      <div class="flip-box-back">
        <h2>CMV2.0 relies on a lightweight local agent installed on each managed machine.</h2>
      </div>
    </div>
  </div>
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <h2>Rudder is produced by Abinav </h2>
      </div>
      <div class="flip-box-back">
        <h2>founded in 2018</h2>
      </div>
    </div>
  </div>
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <h2>Operating system: Unix-like, Microsoft Windows, Android </h2>
      </div>
      <div class="flip-box-back">
        <h2>License: GNU General Public License
            Developer(s): Abinav</h2>
      </div>
    </div>
  </div>
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <h2>Host inventory
            Feature-complete Web interface
            Standardized, reusable policies
            Custom Policy editor</h2>
      </div>
      <div class="flip-box-back">
        <h2>Change Request / Validation
            REST API</h2>
      </div>
    </div>
  </div>
  
<div class="carousel">
        <div class="carousel-inner">
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
            <div class="carousel-item trickcenter">
                <img src="https://wallpapercave.com/wp/wp27626.png">
            </div>
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item trickcenter">
                <img src="https://wallpapercave.com/wp/wp3661694.jpg">
            </div>
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item trickcenter">
                <img src="https://wallpapercave.com/wp/wp3661690.jpg">
            </div>
            <label for="carousel-3" class="carousel-control prev control-1">‹</label>
            <label for="carousel-2" class="carousel-control next control-1">›</label>
            <label for="carousel-1" class="carousel-control prev control-2">‹</label>
            <label for="carousel-3" class="carousel-control next control-2">›</label>
            <label for="carousel-2" class="carousel-control prev control-3">‹</label>
            <label for="carousel-1" class="carousel-control next control-3">›</label>
            <ol class="carousel-indicators">
                <li>
                    <label for="carousel-1" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-2" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-3" class="carousel-bullet">•</label>
                </li>
            </ol>
        </div>
    </div>